<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAT WARS</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/images.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="modal" class="gala">
        <div class="modal-content">
            <h2 id="modal-title">Start Game</h2>
            <img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="stat wars">
            <p id="modal-message">Press the button below to start the game.</p>
            <button id="start-button">Start</button>
        </div>
    </div>
    <div id="game-container"></div>
    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/GLTFLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

